<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Title</title>
    <link rel="stylesheet" href="element-ui/lib/theme-chalk/index.css">
    <script src="js/vue.js"></script>
    <script src="element-ui/lib/index.js"></script>
    <style scoped lang="scss">

        .index {
            height: calc(100vh);
        }

        html, body, #app, .el-container {

            /*统一设置高度为100%*/
            height: 100%;
        }
    </style>
    <style>
        body {
            overflow-x: hidden;
            overflow-y: hidden;
        }
        .iconfont {
            margin-right: 8px;
        }

        .search {
            box-sizing: border-box;
            background: #0000000d;
            border: 0;
            border-radius: 8px;

            /*width: 300px;*/
        }

    </style>
</head>
<body>
<div id="app">
    <el-container direction="vertical">
        <el-container>
            <el-aside style="width: 250px">
                <el-row style="margin-top: 10px" type="flex" align="middle">
                    <el-avatar size="small" icon="el-icon-user-solid" style="margin-left: 15px"></el-avatar>
                    <span style="margin-left: 15px">{{user.name}}</span>
                </el-row>
                <el-row>
                    <el-button type="primary"></el-button>
                    <el-button  style="color:white; width: 100%; background-color: #7477ff">
                        新建卡片集
                    </el-button>
                </el-row>
                <el-divider></el-divider>

                <el-menu

                        :default-active="defAct"
                        :unique-opened="false"
                        :collapse-transition="false"
                        style="margin-top: 0">
                    <div v-for="item in menuList1" :key="item.id" style="line-height: 30px;">
                        <el-menu-item :index="item.id" @click="menuHandle(item,false)" style="font-size: 14px">
                            <template #default>
                                <i class="iconfont" :class="item.icon"></i>
                                <span slot="title">{{item.name}}</span>
                            </template>
                        </el-menu-item>

                        <div v-if="item.id === 4">
                            <el-divider style="margin-top: 30px;margin-bottom: 30px"></el-divider>
                        </div>
                    </div>
                </el-menu>

            </el-aside>

            <el-container style="background-color: #f5f7fb">
                <el-header style="padding: 15px">
                   <el-row :gutter="20" style="margin: 0">
                       <el-col :span="6" style="margin-top: 10px;text-align: left">
                           <span style="font-size: large">{{title}}</span>
                       </el-col>

                       <el-col :span="6" offset="8">
                           <el-input
                                   class="search"
                                   placeholder="请输入内容"
                                   prefix-icon="el-icon-search"
                                   v-model="input">
                           </el-input>
                       </el-col>
                   </el-row>

                </el-header>
                <el-main>
                    <div class="app-main" v-loading="loading" style="height: 100%;width: 100%">
                        <div class="divTmp" v-show="loading"></div>
                        <iframe
                                id="cIframe"
                                class="c_iframe"
                                name="cIframe"
                                :src="iframeUrl"
                                width="100%"
                                height="100%"
                                frameborder="0"
                                v-show="!loading"
                        ></iframe>
                    </div>
                </el-main>
            </el-container>
        </el-container>
    </el-container>
</div>
</body>
<script>
    new Vue({
        el: "#app",
        data: {
            defAct: '1',
            menuActived: '1',
            title: "我的卡片集",
            iframeUrl: 'page/main.html',
            input:"",
            user: {
                name: "程涵",
                url: ""
            },
            menuList1: [
                {
                    id: 1,
                    name: "我的卡片集",
                    icon: "el-icon-folder",
                    url: "page/main.html"
                }, {
                    id: 2,
                    name: "最近使用",
                    icon: "el-icon-time",
                    url: "page/recent.html"
                }, {
                    id: 3,
                    name: "我的收藏",
                    icon: "el-icon-star-off",
                    url: "page/detail.html"
                }, {
                    id: 4,
                    name: "回收站",
                    icon: "el-icon-delete",
                    url: ""
                }, {
                    id: 5,
                    name: "我的统计",
                    icon: "el-icon-data-line",
                    url: ""
                }, {
                    id: 6,
                    name: "社区",
                    icon: "el-icon-data-board",
                    url: ""
                },
            ],
            loading: false,
            goBackFlag: false,
            timer:null
        }, methods: {
            menuHandle(item, goBackFlag) {
                this.loading = true
                this.menuActived = item.id
                this.iframeUrl = item.url
                this.title = item.name
                this.goBackFlag = goBackFlag
                this.closeLoading()
            },
            closeLoading(){
                this.timer = null
                this.timer = setTimeout(()=>{
                    this.loading = false
                },500)
            },
        }

    });
</script>
</html>